.footer {
	background-color: $color__red--primary;
}
	.footer__logos--skiHouse,
	.footer__logos--galaTours {
		width: 100%;
		img {
			background-color: white;
			width: 250px;
			height: auto;
		}
	}
	.footer__logos--info {
		text-align: center;
		color: white;
		font-size: 18px;
		font-weight: 600;
		padding-top: .8em;
		h6 {
			font-size: 18px;
		}
	}
.footer__team-creativo {
	background-color: $color__red--dark;
	padding: .5em 0;
	text-align: center;
}
	.footer__team-creativo--info {
		color: white;
		a {
			color: white;
			text-decoration: underline;
		}
	}